{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   
    
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/img/favicon/favicon.ico"
    />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link
      rel="stylesheet"
      href="{% static '/assets/vendor/fonts/boxicons.css' %}"
    />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      href="{% static '/assets/vendor/css/core.css'%}"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/vendor/css/theme-default.css'%}"
      class="template-customizer-theme-css"
    />

    <link rel="stylesheet" href="{% static '/assets/vendor/css/demo.css'%}" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="{% static '/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css'%}"
    />

    <link
      rel="stylesheet"
      href="{% static '/assets/vendor/libs/apex-charts/apex-charts.css'%}"
    />

    <!-- Page CSS -->
  </head>

  <body>
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        {% block navbar %} {% include './Navbar.html' %} {% endblock navbar %}

        {% comment %} <nav
          class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
          id="layout-navbar">
          {% block searchbar %} {% include '../search.html' %} {% endblock searchbar %}
        </nav> {% endcomment %}

        <div class="content-wrapper">
          <div class="container-xxl flex-grow-1 container-p-y">
            {% block content %} {% endblock content %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
