{% extends './Base.html' %} {%load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}


    <div class="row">
      <!-- Order Statistics -->
      <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
        <div class="card h-100">
          <div
            class="card-header d-flex align-items-center justify-content-between pb-0"
          >
            <div class="card-title mb-0">
              <h5 class="m-0 me-2">{{project_detail.title}}</h5>
              <small class="text-muted"
                >{{project_detail.estimated_time}}</small
              >
            </div>
            <div class="dropdown">
              <button
                class="btn p-0"
                type="button"
                id="orederStatistics"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="orederStatistics"
              >
                <a class="dropdown-item" href="javascript:void(0);"
                  >Select All</a
                >
                <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                <a class="dropdown-item" href="javascript:void(0);">Share</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div
              class="d-flex justify-content-between align-items-center mb-3"
              style="position: relative"
            >
              <div class="d-flex flex-column align-items-center gap-1">
                START DATE
                <h2 class="mb-2">{{project_detail.start_date}}</h2>
              </div>
              <div id="orderStatisticsChart" style="min-height: 137.55px">
                <div
                  id="apexchartsabj9gr0i"
                  class="apexcharts-canvas apexchartsabj9gr0i apexcharts-theme-light"
                  style="width: 130px; height: 137.55px"
                >
                
                
                <script>
                  var config = {
                    type: 'pie',
                    data: {
                      datasets: [{
                        data: {{ data|safe }},
                        backgroundColor: [
                          '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
                        ],
                        label: 'Population'
                      }],
                      labels: {{ labels|safe }}
                    },
                    options: {
                      responsive: true
                    }
                  };
              
                  window.onload = function() {
                    var ctx = document.getElementById('pie-chart').getContext('2d');
                    window.myPie = new Chart(ctx, config);
                  };
              
                </script>
             
                    <g
                      id="SvgjsG1735"
                      class="apexcharts-inner apexcharts-graphical"
                      transform="translate(-7, 0)"
                    >
                      <defs id="SvgjsDefs1734">
                        <clipPath id="gridRectMaskabj9gr0i">
                          <rect
                            id="SvgjsRect1737"
                            width="150"
                            height="173"
                            x="-4.5"
                            y="-2.5"
                            rx="0"
                            ry="0"
                            opacity="1"
                            stroke-width="0"
                            stroke="none"
                            stroke-dasharray="0"
                            fill="#fff"
                          ></rect>
                        </clipPath>
                        <clipPath id="forecastMaskabj9gr0i"></clipPath>
                        <clipPath id="nonForecastMaskabj9gr0i"></clipPath>
                        <clipPath id="gridRectMarkerMaskabj9gr0i">
                          <rect
                            id="SvgjsRect1738"
                            width="145"
                            height="172"
                            x="-2"
                            y="-2"
                            rx="0"
                            ry="0"
                            opacity="1"
                            stroke-width="0"
                            stroke="none"
                            stroke-dasharray="0"
                            fill="#fff"
                          ></rect>
                        </clipPath>
                      </defs>
                      <g id="SvgjsG1739" class="apexcharts-pie">
                        <g id="SvgjsG1740" transform="translate(0, 0) scale(1)">
                          <circle
                            id="SvgjsCircle1741"
                            r="44.835365853658544"
                            cx="70.5"
                            cy="70.5"
                            fill="transparent"
                          ></circle>
                          <g id="SvgjsG1742" class="apexcharts-slices">
                            <g
                              id="SvgjsG1743"
                              class="apexcharts-series apexcharts-pie-series"
                              seriesName="Electronic"
                              rel="1"
                              data:realIndex="0"
                            >
                              <path
                                id="SvgjsPath1744"
                                d="M 70.5 10.71951219512195 A 59.78048780487805 59.78048780487805 0 0 1 97.63977353321047 123.7648046533095 L 90.85483014990785 110.44860348998213 A 44.835365853658544 44.835365853658544 0 0 0 70.5 25.664634146341456 L 70.5 10.71951219512195 z"
                                fill="rgba(105,108,255,1)"
                                fill-opacity="1"
                                stroke-opacity="1"
                                stroke-linecap="butt"
                                stroke-width="5"
                                stroke-dasharray="0"
                                class="apexcharts-pie-area apexcharts-donut-slice-0"
                                index="0"
                                j="0"
                                data:angle="153"
                                data:startAngle="0"
                                data:strokeWidth="5"
                                data:value="85"
                                data:pathOrig="M 70.5 10.71951219512195 A 59.78048780487805 59.78048780487805 0 0 1 97.63977353321047 123.7648046533095 L 90.85483014990785 110.44860348998213 A 44.835365853658544 44.835365853658544 0 0 0 70.5 25.664634146341456 L 70.5 10.71951219512195 z"
                                stroke="#ffffff"
                              ></path>
                            </g>
                            <g
                              id="SvgjsG1745"
                              class="apexcharts-series apexcharts-pie-series"
                              seriesName="Sports"
                              rel="2"
                              data:realIndex="1"
                            >
                              <path
                                id="SvgjsPath1746"
                                d="M 97.63977353321047 123.7648046533095 A 59.78048780487805 59.78048780487805 0 0 1 70.5 130.28048780487805 L 70.5 115.33536585365854 A 44.835365853658544 44.835365853658544 0 0 0 90.85483014990785 110.44860348998213 L 97.63977353321047 123.7648046533095 z"
                                fill="rgba(133,146,163,1)"
                                fill-opacity="1"
                                stroke-opacity="1"
                                stroke-linecap="butt"
                                stroke-width="5"
                                stroke-dasharray="0"
                                class="apexcharts-pie-area apexcharts-donut-slice-1"
                                index="0"
                                j="1"
                                data:angle="27"
                                data:startAngle="153"
                                data:strokeWidth="5"
                                data:value="15"
                                data:pathOrig="M 97.63977353321047 123.7648046533095 A 59.78048780487805 59.78048780487805 0 0 1 70.5 130.28048780487805 L 70.5 115.33536585365854 A 44.835365853658544 44.835365853658544 0 0 0 90.85483014990785 110.44860348998213 L 97.63977353321047 123.7648046533095 z"
                                stroke="#ffffff"
                              ></path>
                            </g>
                            <g
                              id="SvgjsG1747"
                              class="apexcharts-series apexcharts-pie-series"
                              seriesName="Decor"
                              rel="3"
                              data:realIndex="2"
                            >
                              <path
                                id="SvgjsPath1748"
                                d="M 70.5 130.28048780487805 A 59.78048780487805 59.78048780487805 0 0 1 10.71951219512195 70.50000000000001 L 25.664634146341456 70.5 A 44.835365853658544 44.835365853658544 0 0 0 70.5 115.33536585365854 L 70.5 130.28048780487805 z"
                                fill="rgba(3,195,236,1)"
                                fill-opacity="1"
                                stroke-opacity="1"
                                stroke-linecap="butt"
                                stroke-width="5"
                                stroke-dasharray="0"
                                class="apexcharts-pie-area apexcharts-donut-slice-2"
                                index="0"
                                j="2"
                                data:angle="90"
                                data:startAngle="180"
                                data:strokeWidth="5"
                                data:value="50"
                                data:pathOrig="M 70.5 130.28048780487805 A 59.78048780487805 59.78048780487805 0 0 1 10.71951219512195 70.50000000000001 L 25.664634146341456 70.5 A 44.835365853658544 44.835365853658544 0 0 0 70.5 115.33536585365854 L 70.5 130.28048780487805 z"
                                stroke="#ffffff"
                              ></path>
                            </g>
                            <g
                              id="SvgjsG1749"
                              class="apexcharts-series apexcharts-pie-series"
                              seriesName="Fashion"
                              rel="4"
                              data:realIndex="3"
                            >
                              <path
                                id="SvgjsPath1750"
                                d="M 10.71951219512195 70.50000000000001 A 59.78048780487805 59.78048780487805 0 0 1 70.48956633664653 10.719513105630845 L 70.4921747524849 25.664634829223125 A 44.835365853658544 44.835365853658544 0 0 0 25.664634146341456 70.5 L 10.71951219512195 70.50000000000001 z"
                                fill="rgba(113,221,55,1)"
                                fill-opacity="1"
                                stroke-opacity="1"
                                stroke-linecap="butt"
                                stroke-width="5"
                                stroke-dasharray="0"
                                class="apexcharts-pie-area apexcharts-donut-slice-3"
                                index="0"
                                j="3"
                                data:angle="90"
                                data:startAngle="270"
                                data:strokeWidth="5"
                                data:value="50"
                                data:pathOrig="M 10.71951219512195 70.50000000000001 A 59.78048780487805 59.78048780487805 0 0 1 70.48956633664653 10.719513105630845 L 70.4921747524849 25.664634829223125 A 44.835365853658544 44.835365853658544 0 0 0 25.664634146341456 70.5 L 10.71951219512195 70.50000000000001 z"
                                stroke="#ffffff"
                              ></path>
                            </g>
                          </g>
                        </g>
                        <g
                          id="SvgjsG1751"
                          class="apexcharts-datalabels-group"
                          transform="translate(0, 0) scale(1)"
                        >
                          <text
                            id="SvgjsText1752"
                            font-family="Helvetica, Arial, sans-serif"
                            x="70.5"
                            y="90.5"
                            text-anchor="middle"
                            dominant-baseline="auto"
                            font-size="0.8125rem"
                            font-weight="400"
                            fill="#a1acb8"
                            class="apexcharts-text apexcharts-datalabel-label"
                            style="font-family: Helvetica, Arial, sans-serif"
                          >
                            completed
                          </text>
                          <text
                            id="SvgjsText1753"
                            font-family="Public Sans"
                            x="70.5"
                            y="71.5"
                            text-anchor="middle"
                            dominant-baseline="auto"
                            font-size="1.5rem"
                            font-weight="400"
                            fill="#566a7f"
                            class="apexcharts-text apexcharts-datalabel-value"
                            style="font-family: 'Public Sans'"
                          >
                            38%
                          </text>
                        </g>
                      </g>
                      <line
                        id="SvgjsLine1754"
                        x1="0"
                        y1="0"
                        x2="141"
                        y2="0"
                        stroke="#b6b6b6"
                        stroke-dasharray="0"
                        stroke-width="1"
                        stroke-linecap="butt"
                        class="apexcharts-ycrosshairs"
                      ></line>
                      <line
                        id="SvgjsLine1755"
                        x1="0"
                        y1="0"
                        x2="141"
                        y2="0"
                        stroke-dasharray="0"
                        stroke-width="0"
                        stroke-linecap="butt"
                        class="apexcharts-ycrosshairs-hidden"
                      ></line>
                    </g>
                    <g id="SvgjsG1736" class="apexcharts-annotations"></g>
                  </svg>
                  <div class="apexcharts-legend"></div>
                  <div class="apexcharts-tooltip apexcharts-theme-dark">
                    <div
                      class="apexcharts-tooltip-series-group"
                      style="order: 1"
                    >
                      <span
                        class="apexcharts-tooltip-marker"
                        style="background-color: rgb(105, 108, 255)"
                      ></span>
                      <div
                        class="apexcharts-tooltip-text"
                        style="
                          font-family: Helvetica, Arial, sans-serif;
                          font-size: 12px;
                        "
                      >
                        <div class="apexcharts-tooltip-y-group">
                          <span class="apexcharts-tooltip-text-y-label"></span
                          ><span class="apexcharts-tooltip-text-y-value"></span>
                        </div>
                        <div class="apexcharts-tooltip-goals-group">
                          <span
                            class="apexcharts-tooltip-text-goals-label"
                          ></span
                          ><span
                            class="apexcharts-tooltip-text-goals-value"
                          ></span>
                        </div>
                        <div class="apexcharts-tooltip-z-group">
                          <span class="apexcharts-tooltip-text-z-label"></span
                          ><span class="apexcharts-tooltip-text-z-value"></span>
                        </div>
                      </div>
                    </div>
                    <div
                      class="apexcharts-tooltip-series-group"
                      style="order: 2"
                    >
                      <span
                        class="apexcharts-tooltip-marker"
                        style="background-color: rgb(133, 146, 163)"
                      ></span>
                      <div
                        class="apexcharts-tooltip-text"
                        style="
                          font-family: Helvetica, Arial, sans-serif;
                          font-size: 12px;
                        "
                      >
                        <div class="apexcharts-tooltip-y-group">
                          <span class="apexcharts-tooltip-text-y-label"></span
                          ><span class="apexcharts-tooltip-text-y-value"></span>
                        </div>
                        <div class="apexcharts-tooltip-goals-group">
                          <span
                            class="apexcharts-tooltip-text-goals-label"
                          ></span
                          ><span
                            class="apexcharts-tooltip-text-goals-value"
                          ></span>
                        </div>
                        <div class="apexcharts-tooltip-z-group">
                          <span class="apexcharts-tooltip-text-z-label"></span
                          ><span class="apexcharts-tooltip-text-z-value"></span>
                        </div>
                      </div>
                    </div>
                    <div
                      class="apexcharts-tooltip-series-group"
                      style="order: 3"
                    >
                      <span
                        class="apexcharts-tooltip-marker"
                        style="background-color: rgb(3, 195, 236)"
                      ></span>
                      <div
                        class="apexcharts-tooltip-text"
                        style="
                          font-family: Helvetica, Arial, sans-serif;
                          font-size: 12px;
                        "
                      >
                        <div class="apexcharts-tooltip-y-group">
                          <span class="apexcharts-tooltip-text-y-label"></span
                          ><span class="apexcharts-tooltip-text-y-value"></span>
                        </div>
                        <div class="apexcharts-tooltip-goals-group">
                          <span
                            class="apexcharts-tooltip-text-goals-label"
                          ></span
                          ><span
                            class="apexcharts-tooltip-text-goals-value"
                          ></span>
                        </div>
                        <div class="apexcharts-tooltip-z-group">
                          <span class="apexcharts-tooltip-text-z-label"></span
                          ><span class="apexcharts-tooltip-text-z-value"></span>
                        </div>
                      </div>
                    </div>
                    <div
                      class="apexcharts-tooltip-series-group"
                      style="order: 4"
                    >
                      <span
                        class="apexcharts-tooltip-marker"
                        style="background-color: rgb(113, 221, 55)"
                      ></span>
                      <div
                        class="apexcharts-tooltip-text"
                        style="
                          font-family: Helvetica, Arial, sans-serif;
                          font-size: 12px;
                        "
                      >
                        <div class="apexcharts-tooltip-y-group">
                          <span class="apexcharts-tooltip-text-y-label"></span
                          ><span class="apexcharts-tooltip-text-y-value"></span>
                        </div>
                        <div class="apexcharts-tooltip-goals-group">
                          <span
                            class="apexcharts-tooltip-text-goals-label"
                          ></span
                          ><span
                            class="apexcharts-tooltip-text-goals-value"
                          ></span>
                        </div>
                        <div class="apexcharts-tooltip-z-group">
                          <span class="apexcharts-tooltip-text-z-label"></span
                          ><span class="apexcharts-tooltip-text-z-value"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="resize-triggers">
                <div class="expand-trigger">
                  <div style="width: 338px; height: 139px"></div>
                </div>
                <div class="contract-trigger"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-6 mb-4">
        <div class="card">
          <h2>PROJECT TEAM</h2>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>TEAM MEMBER NAME</th>
                  <th>STATUS</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                {% for t in team %}
                <tr>
                  <td>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{t.user.username}}</strong>
                  </td>
                  <td><span class="badge bg-label-primary me-1">Active</span></td>
                  <td>
                  </td>
                </tr>
    
                {% endfor %}
              </tbody>
            </table>
         
        </div>
      </div>
    </div>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>Module Name</th>
            <th>Description</th>
            <th>Estimated_HOURS</th>
            <th>STATUS</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          
          {% for m in module %}
          <tr>
            <td>
              <i class="fab fa-angular fa-lg text-danger me-3"></i>
              <strong>{{m.moduleName}}</strong>
            </td>
            <td>{{m.description}}</td>
            <td>{{m.estimeted_hours}}</td>
            <td><span class="badge bg-label-primary me-1">{{m.status}}</span></td>
            <td>
              <a href="/module/{{m.id}}/edit" class="btn btn-primary">Edit</a>
              <a href="{% url 'detail_module' m.id %}" class="btn btn-success">Detail</a>
              <a href="/module/{{m.id}}/edit" class="btn btn-danger">Delete</a>
              
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>

  
    <div height="200" width="200">
    {% comment %} <canvas id="pie-chart" width="130px" height="137.55px"></canvas> {% endcomment %}
    </div>
    {% endblock content %}
  </body>
</html>
