{% extends './Base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block content %}
    <h2><strong>Project Team</strong></h2>
    <a href="{% url 'create_project_module' %}" class="btn btn-primary">Add MODULE</a>
    <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>ModuleName</th>
              <th>Description</th>
              <th>Status</th>
              <th>Hours</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            
            {% for module in project_module_list %}
            <tr>
              <td>
                <i class="fab fa-angular fa-lg text-danger me-3"></i>
                <strong>{{module.moduleName}}</strong>
              </td>
              <td>{{module.description}}</td>
              <td>{{module.status}}</td>
              <td>{{module.estimeted_hours}}</td>
              
              <td><span class="badge bg-label-primary me-1">Active</span></td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>

    {% endblock content %}
        
    
</body>
</html>