{% extends './Base.html' %} {%load crispy_forms_tags %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      function searchFromProject(){
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }

    </script>
   
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  </head>
  <style>
    #toaster {
      position: fixed;
      bottom: 10px;
      right: 10px;
      background-color: #333;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      display: none;
    }
  </style>
  <body>
    
    <script>
      function showToaster(message) {
        var toaster = document.getElementById("toaster");
        toaster.innerHTML = message;
        toaster.style.display = "block";
        setTimeout(function () {
          toaster.style.display = "none";
        }, 1800); // hide after 5 seconds
      }
    </script>

   


    <div class="card">
      <h5 class="card-header">Projects</h5>
      <div id="toaster"></div>
      <input type="text" id="myInput" onkeyup="searchFromProject()" placeholder="Search for names.." title="Type in a name" />
     
      {% comment %}
      <h5 class="card-header">
        <a href="{% url 'create_project' %}" class="btn btn-primary">Create</a>
      </h5>
      {% endcomment %}
      
      <script type="text/javascript">
        function DeleteData(id) {
          if (confirm("Are you sure you want to delete?")) {
            $.ajax({
              type: "GET",
              url: "/project/delete_project/" + id,
              success: function (data) {
                console.log(data);

                //alert("Deleted successfully");
                showToaster("Deleted successfully");
                setTimeout(() => {
                  location.reload();
                }, 1000);
              },
              error: function (data) {
                console.log(data);
                alert("Error");
              },
            });
          }
        }
      </script>
      <div class="table-responsive text-nowrap">
        <table class="table" id="myTable">
          <thead>
            <tr>
              <th>Project</th>
              <th>DESCRIPTION</th>
              <th>Technology</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            {% for project in project %}
            <tr>
              <td>
                <i class="fab fa-angular fa-lg text-danger me-3"></i>
                <a href="{% url 'detail_project' project.id %}"
                  ><strong>{{project.title}}</strong></a
                >
                <a
                  href="{% url 'project_team_list1' project.id %}"
                  class="btn btn-sm btn-outline-success ms-3"
                  >VIEW TEAM</a
                >
              </td>
              <td>{{project.description}}</td>
              <td>{{project.technology}}</td>
              <td><span class="badge bg-label-primary me-1">Active</span></td>
              <td>
                <div class="dropdown">
                  <a
                    class="dropdown-item"
                    href="{% url 'update_project' project.id %}"
                    ><i class="bx bx-edit-alt me-1"></i> Edit</a
                  >
                  <a
                    class="dropdown-item"
                    href="{% url 'delete_project' project.id %}"
                    ><i class="bx bx-trash me-1"></i> Delete</a
                  >
                  <button
                    onclick="DeleteData({{project.id}})"
                    class="dropdown-item"
                  >
                    <i class="bx bx-trash me-1"></i>
                  </button>

                  <a
                    class="dropdown-item"
                    href="{% url 'detail_project' project.id %}"
                    ><i class="bx bx-select me-1"></i> Detail</a
                  >
                </div>
              </td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
{% endblock content %}
